.logocolor {
  color: white !important;
}

.matchodds {
  margin-top: -51% !important;
  margin-left: -8% !important;
  padding: 8%;
}

.matchBox {
  margin-left: 51% !important;
  margin-top: 9% !important;
}
.modal-dialog .modal-content label {
  color: #000 !important;
}
.modal .blue_button {
  margin-right: 10px;
}
.panel-body ul li a {
  cursor: pointer;
}

.total_green_class {
  color: #008e2f !important;
  font-weight: bold;
  font-size: 14px !important;
}
.total_red_class {
  color: #ff0000 !important;
  font-weight: bold;
  font-size: 14px !important;
}
